#placer {
    background-color: yellow;
    position: absolute;
    left: 400px;
    top: 200px;
    width: 80px;
    height: 80px;
}
  
body {
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

/* #box {
    position: absolute;
    left: 20px;
    top: 40px;
}

#box2 {
    float: right;
    display: flex; 
    justify-content: flex-end;
} */

/* p {
    background-color: green;
    text-align: center;
} */

/* p {
    padding-left: 0px; /*sets 'padding'*/
    /* padding-right: 0px; sets 'padding' */
    /* padding-top: 0px;
    padding-bottom: 0px;
    float: left;
    background-color: green; */
/*} */

/* div, h2, p {
    padding-left: 0px; 
    padding-right: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
    background-color: green; 
} */